.Main-page{
    width: 100%;
    height: 100vh;
}
.Navigation{
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.158);
    padding: 10px;
}
.Logo{
    font-size: 35px;
    transition: 0.5s all;
}

.Logo:hover{
    color: rgba(7, 67, 45, 0.515);
}

.Navigation > .nav-list{
    display: flex;
    align-items: center;
    list-style: none;
}
.Navigation .nav-list li{
    margin: 10px;
    transition: 0.5s all;
}

.Navigation .nav-list li:hover{
    color: rgba(7, 67, 45, 0.515);
}

.landing{
    width: 100%;
    height: 30vh;
}
.landing .hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.landing .hero-section .action{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.landing .hero-section .action p{
    letter-spacing: 1px;
    font-size: 1.1em;
}

.landing .hero-section .action button{
    border: none;
    outline: none;
    width: 100px;
    padding: 10px;
    border-radius: 1px;
    background-color: rgb(82, 23, 82);
    color: #fff;

}
 .landing .hero-section .quote{
    padding: 50px;
    color: rgb(0, 0, 0);
    background-image: url('./MediaFiles/bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
 }
 
button{
    cursor: pointer;
}
.arrow{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.main-content{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-content .Card{
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.158);
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    transition: 0.3s all;
    cursor: pointer;
}

.main-content .Card:hover{
    box-shadow: 0 0 0 rgb(0, 0, 0);
    border: 1px solid rgba(7, 67, 45, 0.515);
}
